# Actividad
## Thomas Buddemberg

Ya aprendimos lo basico sobre como usar heroku y estructuras de datos, ahora le pediremos que cree una nueva class que se llamara user en la que usted creara funciones enfocada en realizar las 4 funciones "Select", "Update", "Insert Into" y "Delete".

La clase user debe estar creada en heroku.

CREATE TABLE users  (
      user_id SERIAL PRIMARY KEY ,
      first_name VARCHAR(255) NOT NULL,
      last_name VARCHAR(255) NOT NULL,
      email VARCHAR(255) NOT NULL UNIQUE,
      phone VARCHAR(255) NOT NULL UNIQUE
    );

Ustede creara una aplicación que permita ingresar datos en base a un formulario.

Buscar a un usuario en base a su id (devuelve vacio si es que no existe)

Modificar el telefono de un usuario en base a su id.

Y borrar a un usuario en base a su id.

Puede usar de base todo los códigos de la clase anterior.

In [81]:
import psycopg2
conexion = psycopg2.connect(
    database="d2o47podqn9gf",
    user="dvqlkyuevtiksx",
    password="501b48b761cd78c15fb41de35eada948621b492b655b5f81e41d9edeb9ee02d4",
    host="ec2-44-194-112-166.compute-1.amazonaws.com",
    port="5432")

print("Base de datos Conectada")

cur = conexion.cursor()

cur.execute('''
      CREATE TABLE IF NOT EXISTS usuario (
      user_id SERIAL PRIMARY KEY,
      first_name VARCHAR(255) NOT NULL,
      last_name VARCHAR(255) NOT NULL,
      email VARCHAR(255) NOT NULL UNIQUE,
      phone VARCHAR(255) NOT NULL UNIQUE
    );    
    ''')
conexion.commit()

print("Ejecutado")

postgres_insert_query = """INSERT INTO
    usuario (first_name,last_name,email,phone)
    VALUES (%s,%s,%s,%s)"""

Nombre = input('Ingrese Nombre del usuario: ')
Apellido =input('Ingrese Apellido del usuario: ')
mail = input('Ingrese mail del usuario: ')
teléfono = input('Ingrese teléfono del usuario: ')

print("Ejecutado")

record_to_insert = [Nombre,Apellido,mail,teléfono]

cur.execute(postgres_insert_query,record_to_insert)
conexion.commit()

Base de datos Conectada
Ejecutado
Ingrese Nombre del usuario: Marco
Ingrese Apellido del usuario: Rubio
Ingrese mail del usuario: marco.rubio97@gmail.com
Ingrese teléfono del usuario: 9 7632 0952
Ejecutado

In [82]:
cur = conexion.cursor()
conexion.commit()

cur.execute(
    """SELECT * from usuario"""
)
registros = cur.fetchall()

for i in registros:
    print("id =", i[0])
    print("Nombre =", i[1])
    print("Apellido =", i[2])
    print("Email =", i[3])
    print("Celular =", i[4], "\n")
    
print("Ejecutado")
conexion.commit()

id = 3
Nombre = Francisco
Apellido = Buddemberg
Email = fco.buddem@gmail.com
Celular = +569 8945 5751

id = 6
Nombre = Constanza
Apellido = Zavala
Email = co.zava1006@gmail.com
Celular = +569 8734 1532

id = 1
Nombre = Thomas
Apellido = Buddemberg
Email = buddenberg17@gmail.com
Celular = +569 8938 9921

id = 7
Nombre = Marco
Apellido = Rubio
Email = marco.rubio97@gmail.com
Celular = 9 7632 0952

Ejecutado

In [83]:
cur = conexion.cursor()
conexion.commit()

postgres_update_query = """UPDATE usuario set phone = %s where user_id = %s"""
id=input('Ingrese ID del usuario al que desea cambiar el número de teléfono: ')
telefono_2 = input('Ingrese el nuevo número: ')
record_to_update = [telefono_2, id]
cur.execute(postgres_update_query,record_to_update)

print("Ejecutado")

conexion.commit()

#----------------------------------------------------------------------------------------------------------------

cur = conexion.cursor()
conexion.commit()

cur.execute(
    """SELECT * from usuario"""
)
registros = cur.fetchall()

for i in registros:
    print("id =", i[0])
    print("Nombre =", i[1])
    print("Apellido =", i[2])
    print("Email =", i[3])
    print("Celular =", i[4], "\n")
conexion.commit()

Ingrese ID del usuario al que desea cambiar el número de teléfono: 7
Ingrese el nuevo número: +569 7632 0952
Ejecutado
Ejecutado
id = 3
Nombre = Francisco
Apellido = Buddemberg
Email = fco.buddem@gmail.com
Celular = +569 8945 5751

id = 6
Nombre = Constanza
Apellido = Zavala
Email = co.zava1006@gmail.com
Celular = +569 8734 1532

id = 1
Nombre = Thomas
Apellido = Buddemberg
Email = buddenberg17@gmail.com
Celular = +569 8938 9921

id = 7
Nombre = Marco
Apellido = Rubio
Email = marco.rubio97@gmail.com
Celular = +569 7632 0952

In [84]:
cur = conexion.cursor()
conexion.commit()

postgres_delete_query = """Delete from
    usuario where
    user_id = %s"""
id = input('Ingrese el ID del ususario al que desea eliminar: ') 
delete = [id]

cur.execute(postgres_delete_query,delete)
print("Ejecutado")
conexion.commit()

cur = conexion.cursor()
conexion.commit()

#----------------------------------------------------------------------------------------------------------------

cur.execute(
    """SELECT * from usuario"""
)
registros = cur.fetchall()

for i in registros:
    print("id =", i[0])
    print("Nombre =", i[1])
    print("Apellido =", i[2])
    print("Email =", i[3])
    print("Celular =", i[4], "\n")
    
conexion.commit()

Ingrese el ID del ususario al que desea eliminar: 7
Ejecutado
id = 3
Nombre = Francisco
Apellido = Buddemberg
Email = fco.buddem@gmail.com
Celular = +569 8945 5751

id = 6
Nombre = Constanza
Apellido = Zavala
Email = co.zava1006@gmail.com
Celular = +569 8734 1532

id = 1
Nombre = Thomas
Apellido = Buddemberg
Email = buddenberg17@gmail.com
Celular = +569 8938 9921