# ¡Ha habido un asesinato en SQL City! 

*SQL Murder Mystery está diseñado para ser tanto una lección autodirigida para aprender conceptos y comandos de SQL como un juego divertido para que los usuarios experimentados de SQL resuelvan un crimen intrigante.*

Ha ocurrido un crimen y el detective necesita tu ayuda. El detective te dio el informe de la escena del crimen, pero de alguna manera lo perdiste. Recuerda vagamente que **el crimen fue un asesinato que ocurrió en algún momento del 15 de enero de 2018** y que **tuvo lugar en SQL City**. Comience recuperando el informe de la escena del crimen correspondiente de la base de datos del departamento de policía.

<img src=https://raw.githubusercontent.com/NUKnightLab/sql-mysteries/master/schema.png>

In [1]:
# Usaremos la biblioteca sqlite3 de python para resolver el misterio

import pandas as pd
import sqlite3 as sql

In [2]:
# Establecer una conexión a la base de datos

conexion = sql.connect('sql-murder-mystery.db')

In [3]:
# Ejecute su primera consulta, buscando datos del informe de la escena del crimen (EJEMPLO)

consulta_1 = '''
SELECT *
FROM crime_scene_report
WHERE city = "SQL City"
ORDER BY date;
'''

# Establecer el ancho del marco de datos al máximo
pd.set_option('display.max_colwidth', None)

# Ejecutando nuestra consulta
pd.read_sql_query(consulta_1, conexion)

,date,type,description,city
0,20170712,theft,"A lone hunter stalks the night, firing arrows into the Darkness.\n There is no hiding, no escape. In the distance, the beast\n falters, tethered to the void. The killing blow comes without\n hesitation, without mercy.",SQL City
1,20170820,arson,"Wield the Hammer of Sol with honor, Titan, it is a thing of\n legend, both past and future.",SQL City
2,20171110,robbery,"The Gjallarhorn shoulder-mounted rocket system was forged from\n the armor of Guardians who fell at the Twilight Gap. Gifted\n to the survivors of that terrible battle, the Gjallarhorn\n is seen as a symbol of honor and survival.",SQL City
3,20180103,bribery,"Apparently, Cayde thought it necessary to expose this extremely\n rare vegetable to a Hive summoning ritual.",SQL City
4,20180115,assault,"Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!",SQL City
5,20180115,assault,Report Not Found,SQL City
6,20180115,murder,"Security footage shows that there were 2 witnesses. The first witness lives at the last house on ""Northwestern Dr"". The second witness, named Annabel, lives somewhere on ""Franklin Ave"".",SQL City
7,20180215,murder,REDACTED REDACTED REDACTED,SQL City
8,20180215,murder,Someone killed the guard! He took an arrow to the knee!,SQL City

Las imágenes de seguridad muestran que había 2 testigos. 

 - El primer testigo vive en la última casa de "Northwestern Dr". 

- El segundo testigo, llamado Annabel, vive en algún lugar de "Franklin Ave".

Tengo nuestro informe de la escena del crimen, según el informe hay 2 testigos. Vamos a buscarlos.

In [4]:
# Continue con el desafio ejecutando las querys apropiadas

# Parte 2

Si cree que está preparado para un desafío, intente **consultar la transcripción de la entrevista del asesino** para encontrar al verdadero villano detrás de este crimen.